@import '/src/global-styles/colors';

header {
  //background-color: $dark-grey;
  border-left: 1px solid $lines-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .board-title-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    .board-title {
      color: $white;
    }

    .btn-groups {
      display: flex;
      gap: .5rem;
    }
  }

  .user-info {
    padding: 2rem;
    margin-left: auto;

    .logout-btn {
      background: none;
      border: none;
      color: $red;
      cursor: pointer;

      &:hover {
        color: $red-hover;
      }
    }
  }
}