@import '/src/global-styles/colors';

.form-title {
  color: $white;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .input-groups {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      .input-subtask-groups {
        display: flex;
        gap: 1rem;
      }
    }
  }
}