@import '/src/global-styles/colors';
@import '/src/global-styles/typography';

.board-detail {
  max-width: calc(100vw - 300px);
  max-height: calc(100vh - 94px);
  padding: 1.5rem;
  white-space: nowrap;
  overflow: scroll;

  .column {
    display: inline-block;
    width: 280px;
    margin-right: 1.5rem;

    .column-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.5rem;

      .column-title {
        color: $medium-grey;
      }

      .btn-groups {
        display: flex;
        gap: .5rem;
      }
    
    }
    .task-list {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }

  .add-column {
    background-color: $dark-grey;
    border-radius: .375rem;
    border: none;
    width: 280px;
    cursor: pointer;
    @include heading-xl;
    color: $medium-grey;
  }
}

.empty-column-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  
  .empty-column-title {
    color: $medium-grey;
  }
}

/*
.board-detail {
    max-width: calc(100vw - 300px);
    min-height: calc(100vh - 94px);
    padding: 1.5rem;
    white-space: nowrap;
    overflow: scroll;
}

*/