@import '/src/global-styles/colors';

.switcher-container {
  width: 40px;
  height: 20px;
  border-radius: 12px;
  position: relative;
  background-color: $main-purple;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input[type=checkbox] {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 2;

    &:checked ~ .toggle {
      transform: translateX(20px);
    }
  }

  .toggle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $white;
    z-index: 1;
  }
}

.theme-switcher-container {
  width: calc(100% - 4rem);
  border-radius: 6px;
  padding: 16px 64px;
  //margin-top: 9rem;
  margin-left: 2rem;
  color: $medium-grey;
  font-size: 1rem;

  .input-groups {
    display: flex;
    justify-content: space-between;
  }
}