@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap');

@import '/src/global-styles/typography';
@import '/src/global-styles/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root[data-theme="light"] {
  --bg-color: #{$light-grey};
  --secondary-bg-color: #{$white};
  --line-color: #{$lines-light};
  --text: #{$black};
  --bg-secondary-btn: #{$main-purple}#{10};
  --bg-hover-secondary-btn: #{$main-purple}#{25};
  --bg-modal-overlay-color: rgba(0,0,0,.1);
}

:root[data-theme="dark"] {
  --bg-color: #{$very-dark-grey};
  --secondary-bg-color: #{$dark-grey};
  --line-color: #{$lines-dark};
  --text: #{$white};
  --bg-secondary-btn: #{$white};
  --bg-hover-secondary-btn: #{$white};
  --bg-modal-overlay-color: rgba(160, 152, 152, 0.1);  
}

body {
  background-color: var(--bg-color);
}

html, body, #root, main {
  height: 100%;
}

.bg-theme {
  background-color: var(--bg-color);
}

.bg-overlay-modal-theme {
  background-color: var(--bg-modal-overlay-color);
}

.secondary-bg-theme {
  background-color: var(--secondary-bg-color);
}

.text-theme {
  color: var(--text);
}

h1 {
  @include heading-xl;
}

h2 {
  @include heading-l;
}

h3 {
  @include heading-m;
}

h4 {
  @include heading-s;
}

a {
  text-decoration: none;
  cursor: pointer;
}

main {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
}
